	 <div class="modal-header">
             <h4>{{taskToEdit.summary}}</h4>
        </div>
        <div class="modal-body">
             <form name="myForm" role="form">
        		<div class="form-group">
				  <label for="summary">Summary</label>
				  <input type="text" class="form-control" name="summary" ng-model="taskToEdit.summary"/>
				</div>
				
				<div class="form-group">
				  <label for="details">Details</label>
				  <textarea rows="6" name="details" ng-model="taskToEdit.details" class="form-control"></textarea>
				  <span class="help-block">Provide details about the task or tell what has been done.</span>
				</div>
				
				<div class="form-group">
				  <label>Assignee</label>
				  <select class="form-control"  ng-model="taskToEdit.assignee" ng-options="u as u.fullName for u in users"></select>
				</div>
			</form>	
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" ng-click="taskRemove()">Delete task</button>
        	<button class="btn btn-success" ng-click="taskDone()" ng-show="!taskToEdit.done">Task done</button>
        	<button class="btn btn-inverse" ng-click="taskDone()" ng-show="!!taskToEdit.done">Uncomplete task</button>
            <button class="btn btn-default" ng-click="close()">Ok</button>
        </div>
