<div class="alert dashboard-alert" style="min-height:80px"
	ng-mouseenter="task.showActions=true" 
	ng-mouseleave="task.showActions=false" 
	ng-class="{ 'alert-success': task.done, 'alert-warning': !task.done }">
	{{task.summary}}
	<span class="pull-right smaller-font">
		Updated: {{task.updateDate | date:'MM/dd/yy HH:mm'}}<BR>
		<img class="pull-right" tooltip="{{task.assignee.fullName}}" ng-show="task.assignee" ng-src="http://srv-ind-scrat:8060/avatar/{{task.assignee.userName}}?s=32"/>
	</span>
	<BR>
	<span class="smaller-font" ng-show="task.details" ng-bind-html-unsafe="task.details">
		<BR>
	</span>
	<ul ng-show="task.relatedJobs.length > 1">
		<li class="smaller-font" ng-repeat="job in task.relatedJobs">
			{{job.name}} <a href="" ng-click="connectTask(task, job, false)"><span class="glyphicon glyphicon-remove-sign" tooltip="Unlink job from this task"></span></a>
		</li>
	</ul>
	<ul class="list-inline smaller-font" ng-show="task.showActions">
		<li><a href="" ng-click="showTask(task)"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit details</a></li>
		<li><a href="" ng-click="task.done = !task.done;change(task)"><span class="glyphicon " ng-class="{ 'glyphicon-ok-sign': !task.done, 'glyphicon-remove-circle': task.done }"></span>&nbsp;<span ng-hide="task.done">Mark done</span><span ng-show="task.done">Uncomplete task</span></a></li>
		<li class="dropdown">
			  <a class="dropdown-toggle">
			    <i class="icon-user"></i>&nbsp;Change assignee
			  </a>
			  <ul class="dropdown-menu">
			    <li ng-repeat="user in users">
			      <a ng-click="changeAssignee(task, user)">{{user.fullName}}</a>
			    </li>
			  </ul>
		</li>
		<li><a href="" ng-click="destroy(tasks, task)"><span class="glyphicon glyphicon-trash"></span>&nbsp;Delete task</a></li>
	</ul>
</div>