<div class="container">
	<div class="well">
		<form name="myForm" class="form-horizontal">
			<fieldset>
				<legend>Edit user {{user.userName}}</legend>
				<div class="pull-right">
					<img ng-src="http://srv-ind-scrat.vanenburg.com:8060/avatar/{{user.userName}}?s=40" />
				</div>
				<div class="form-group" ng-class="{'has-error': myForm.userName.$invalid}">
					<label for="userName" class="col-sm-2 control-label">Username</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" name="userName" ng-model="user.userName" required> <span
							ng-show="myForm.userName.$error.required" class="help-block">Required</span>
					</div>
				</div>

				<div class="form-group">
					<label for="fullName" class="col-sm-2 control-label">Fullname</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" name="fullName" ng-model="user.fullName" />
					</div>
				</div>
				
				<div class="form-group">
					<label for="emailAddress" class="col-sm-2 control-label">EmailAddress</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" name="emailAddress" ng-model="user.emailAddress" />
					</div>
				</div>

				<div class="form-actions">
					<a href="#/" class="btn btn-default">Cancel</a>
					<button ng-click="save()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary">Save</button>
					<button ng-click="destroy()" ng-show="user.id" class="btn btn-danger">Delete</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>