<BR>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="card card-body bg-light">
            <form name="myForm" class="form-horizontal">
                <h2>Edit user {{user.userName}}</h2>
                <div class="float-right">
                    <img avatar-username="{{user.userName}}" data-size="40"/>
                </div>
                <div class="form-group row" ng-class="{'has-error': myForm.userName.$invalid}">
					<label for="userName" class="col-sm-2 col-form-label">Username</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="userName" ng-model="user.userName" required> <div
							ng-show="myForm.userName.$error.required" class="invalid-feedback">Required</div>
					</div>
                </div>

                <div class="form-group row">
					<label for="fullName" class="col-sm-2 col-form-label">Fullname</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="fullName" ng-model="user.fullName" />
					</div>
                </div>

                <div class="form-group row">
					<label for="emailAddress" class="col-sm-2 col-form-label">EmailAddress</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="emailAddress" ng-model="user.emailAddress" />
					</div>
                </div>

                <div class="form-actions">
                    <a href="#/" class="btn btn-default">Cancel</a>
                    <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary">
                        Save
                    </button>
                    <button ng-click="destroy()" ng-show="user.id" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>