<div class="modal-header">
	<h4 class="text-danger">
		<i class="icon-warning-sign"></i>&nbsp;Issue: {{issueToEdit.summary}}
	</h4>
</div>
<div class="modal-body">
	<form name="myForm" class="form-vertical">
		<div class="row">
			<div class="col-sm-8">
				<input type="text" name="summary" ng-model="issueToEdit.summary" class="form-control" placeholder="Summary of the issue" />
			</div>
			<div class="col-sm-2">
				<input type="text" name="jira_id" ng-model="issueToEdit.jira_id" class="form-control" placeholder="Jira ID" />
			</div>
			<div class="col-sm-2">
				<span class="help-inline" ng-show="issueToEdit.jira_id"> <a href="https://jira.cordys.com/jira/browse/{{issueToEdit.jira_id}}"
					target="_blank" tooltip="Link to the Jira ticket" tooltip-placement="bottom"><img src="img/icon-jira.png" width="24px" />&nbsp;{{issueToEdit.jira_id}}</a>
				</span>
			</div>
		</div>

		<BR>
		<div class="form-group">
			<label class="control-label">Details</label>
			<textarea rows="6" class="form-control" name="details" ng-model="issueToEdit.details" class="input-xxlarge" style="width: 95%;"
				placeholder="Provide (some) details of the issue"></textarea>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<select class="form-control" ng-model="issueToEdit.type" ng-options="t.value as t.name for t in issueTypes"></select>
			</div>
			<div class="col-sm-4">
				<span class="help-inline">Select the type of issue.</span>
			</div>
		</div>

		<div class="checkbox">
			<label> <input type="checkbox" name="solved" ng-model="issueToEdit.solved" /> <span class="help-inline">Mark the issue as solved
					when it should not occur anymore.</span>
			</label>
		</div>
		</fieldset>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-danger" ng-click="issueRemove()">Delete issue</button>
	<button class="btn btn-default" ng-click="close()">Ok</button>
</div>