<div class="alert dashboard-alert"
	ng-mouseenter="issue.showActions=true" 
	ng-mouseleave="issue.showActions=false" 
	ng-class="{ 'alert-success': issue.solved, 'alert-warning': !issue.solved }">
	<a href="{{issue.jiraLink()}}" target="_blank">{{issue.jira_id}}</a>&nbsp;
	{{issue.summary}}
	<BR>
	<span style="font-size: 12px;" ng-show="issue.details" ng-bind-html="issue.details">
		<BR>
	</span>
	<ul class="list-inline" ng-show="issue.showActions" style="font-size: 12px;">
		<li><a href="" ng-click="showIssue(issue)"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit details</a></li>
		<li><a href="{{issue.jiraLink()}}" target="_blank"><img src="img/icon-jira.png" width="16px"/>&nbsp;{{issue.jira_id}}</a></li>
		<li><a href="" ng-click="issue.solved = !issue.solved;change(issue)"><span class="glyphicon" ng-class="{ 'glyphicon-ok-sign': !issue.solved, 'glyphicon-remove-circle': issue.solved }"></span>&nbsp;<span ng-hide="issue.solved">Mark solved</span><span ng-show="issue.solved">Mark unsolved</span></a></li>
		<li><a href="" ng-click="destroy(issues, issue)"><span class="glyphicon glyphicon-trash"></span>&nbsp;Delete issue</a></li>
	</ul>
</div>