<div class="row-fluid" style="font-size: 16px;">
	<div class="span3">
		<div>
			<!-- Computers -->
			
			<p class="text-error"><Strong>Offline computers</Strong></p>
			<div ng-repeat="computer in computers | filter:{offline:true, watch:true} |orderBy:'displayName'">
				<div class="alert" ng-mouseenter="computer.showActions=true" ng-mouseleave="computer.showActions=false" style="margin-bottom: 0px;" 
					ng-class="{ 'alert-error': computer.offline, 'alert-success': !computer.offline && computer.diskSpaceLeft>3}">
					<img ng-src="img/{{imageComputerStatus(computer)}}"/>&nbsp;
					<strong>{{computer.displayName}}</strong><BR>
					<span style="font-size: 12px;" ng-show="computer.diskSpaceLeft>0"> has {{computer.diskSpaceLeft}}Gb left.</span><span style="font-size: 12px;">{{computer.offlineCause}}</span><BR>
					<ul class="inline" ng-show="computer.showActions" style="font-size: 12px;">
						<li><a href="{{computer.url}}" target="_blank"><i class="icon-circle-arrow-right"></i>&nbsp;URL</a></li>
						<li><a href="{{computer.url}}"><i class="icon-wrench"></i>&nbsp;Add task to fix this</a></li>
					</ul>
				</div>
			</div>
			<BR>
			<p class="text-info"><Strong>Computers in watch list</Strong></p>
			<div ng-repeat="computer in computers | filter:{stickyWatch:true} |orderBy:'displayName'">
				<div class="alert" ng-mouseenter="computer.showActions=true" ng-mouseleave="computer.showActions=false" style="margin-bottom: 0px;" 
					ng-class="{ 'alert-error': computer.offline, 'alert-success': !computer.offline && computer.diskSpaceLeft>3}">
					<img ng-src="img/{{imageComputerStatus(computer)}}"/>&nbsp;
					<strong>{{computer.displayName}}</strong><BR>
					<span style="font-size: 12px;" ng-show="computer.diskSpaceLeft>0"> has {{computer.diskSpaceLeft}}Gb left.</span><span style="font-size: 12px;">{{computer.offlineCause}}</span><BR>
					<ul class="inline" ng-show="computer.showActions" style="font-size: 12px;">
						<li><a href="{{computer.url}}" target="_blank"><i class="icon-circle-arrow-right"></i>&nbsp;URL</a></li>
						<li><a href="{{computer.url}}"><i class="icon-wrench"></i>&nbsp;Add task to fix this</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="span5">
		<div>
			<!-- Jobs -->
			
			<div ng-repeat="job in jobs | nonStableJobs | filter:{watch:true} |jobType:jobTypes">
				<div class="alert" 
					ng-mouseenter="job.showActions=true" 
					ng-mouseleave="job.showActions=false" 
					style="margin-bottom: 0px;" 
					ng-class="{ 'alert-error': job.status=='FAILED', 
								'alert-success': job.status=='STABLE', 
								'alert-info': job.status=='ABORTED' || job.status=='DISABLED' || job.status=='NEW'}">
					<a href="" ng-click="showBuild(job)" tooltip="Show details"><i class="icon-list-alt"></i></a>&nbsp;<strong>{{job.name}}</strong>
					<span class="pull-right" style="font-size: 40px;">
						<strong>{{job.lastBuild.failedTestCount}}</strong> <img ng-src="{{imageJobStatus(job)}}"/>
					</span><BR>
					<div style="font-size: 12px;">
					{{job.description}}<BR>
					<div ng-repeat="failure in job.lastBuild.failures" ng-show="job.lastBuild.failures.length < 6">
						<span class="muted" ng-show="failure.summary">{{failure.summary}}</span>
						<span ng-show="failure.age">
							<i ng-class="{'icon-chevron-right' : !failure.showDetails, 'icon-chevron-down': !!failure.showDetails}"
								ng-click="failure.showDetails=!failure.showDetails"></i>
								<a ng-href="{{failure.url}}" target="_blank">{{failure.testMethodName}}</a> (Age:{{failure.age}})
							<blockquote ng-show="failure.showDetails"> {{failure.errorDetails}}</blockquote>
						</span>
					</div>
					</div>
					<ul class="inline" ng-show="job.showActions" style="font-size: 12px;">
						<li><a href="{{job.url}}" target="_blank"><i class="icon-circle-arrow-right"></i>&nbsp;URL</a></li>
						<li><a href="{{job.url}}/{{job.lastBuild.buildNumber}}/console" target="_blank"><img src="img/terminal.png" width="16px"/>&nbsp;Console</a></li>
						<li><a href="" ng-click="showBuild(job)"><i class="icon-list-alt"></i>&nbsp;Show details</a></li>
						<li><a href="{{job.url}}"><i class="icon-wrench"></i>&nbsp;Add task to fix this</a></li>
						<li><a href="" ng-click="stopWatching(job)"><i class="icon-eye-close"></i>&nbsp;Stop watching</a></li>
					</ul>
				</div>
			</div>
		</div>
	
	</div>
	<div class="span4"></div>
</div>