<div class="row-fluid" style="font-size: 16px;">
		<link rel="stylesheet" href="css/panel.css" />

	<div class="span3">
		<div>
			<!-- Computers -->
			<p class="text-error"><Strong>Offline computers</Strong></p>
			<div ng-repeat="computer in computers | filter:{offline:true, watch:true} |orderBy:'displayName'">
				<div ng-include src="'partials/computer/computer.item.panel.html'"></div>
			</div>
			<BR>
			<div class="well" style="font-size: 12px;">
				<img ng-show="analyzerStatus.isSuccessful" src="img/blue.png"/>
				<img ng-hide="analyzerStatus.isSuccessful" src="img/red.png"/> Last analysis: {{analyzerStatus.lastExecution | date:'MM/dd/yy @ H:mm:ss'}} 
				<img ng-show="analyzerStatus.isExecuting" src="img/spinner.gif"/>
			</div>
		</div>
	</div>
	<div class="span5">
		<div>
			<!-- Jobs -->
			<p class="text-error"><Strong>Jobs with problems</Strong></p>
			<div ng-repeat="job in jobs | nonStableJobs | filter:{watch:true} |jobType:jobTypes">
				<div ng-include src="'partials/job/job.item.panel.html'"></div>
			</div>
		</div>
	
	</div>
	<div class="span4">
		<p class="text-info"><Strong>Tasks to investigate problems</Strong></p>
		<div ng-repeat="task in tasks | orderBy:['done','-updateDate']">
			<div ng-include src="'partials/task/task.item.panel.html'"></div>
		</div>
		<BR>
		<p class="text-error"><Strong>Issues in the buildstreet</Strong></p>
		<div ng-repeat="issue in issues | orderBy:['solved','-updateDate']">
			<div ng-include src="'partials/issue/issue.item.panel.html'"></div>
		</div>
	</div>
</div>