<div class="row-fluid" style="font-size: 16px;">
		<link rel="stylesheet" href="css/panel.css" />

	<div class="span3">
		<div>
			<!-- Computers -->
			
			
			<p class="text-error"><Strong>Offline computers</Strong></p>
			<div ng-repeat="computer in computers | filter:{offline:true, watch:true} |orderBy:'displayName'">
				<div class="alert" ng-class="{ 'alert-error': computer.offline, 'alert-success': !computer.offline && computer.diskSpaceLeft>3}">
					<strong>{{computer.displayName}}</strong><BR>
				</div>
			</div>
			<BR>
			<div class="well" style="font-size: 12px;"><img ng-show="analyzerStatus.isSuccessful" src="img/blue.png"/><img ng-hide="analyzerStatus.isSuccessful" src="img/red.png"/> Last analysis: {{analyzerStatus.lastExecution | date:'MM/dd/yy @ H:mm:ss'}} <img ng-show="analyzerStatus.isExecuting" src="img/spinner.gif"/>
			</div>
		</div>
	</div>
	<div class="span5">
		<div>
			<!-- Jobs -->
			<div ng-repeat="job in jobs | nonStableJobs | filter:{watch:true} |jobType:jobTypes">
				<div class="alert" 
					ng-class="{ 'alert-error': job.status=='FAILED', 
								'alert-success': job.status=='STABLE', 
								'alert-info': job.status=='ABORTED' || job.status=='DISABLED' || job.status=='NEW'}">
					<strong nowrap>{{job.name}}</strong>
					<span class="pull-right">
						<strong>{{job.lastBuild.failedTestCount}}</strong>
					</span><BR>
					<span ng-show="job.building" class="badge badge-info">In progress</span>
				</div>
			</div>
		</div>
	
	</div>
	<div class="span4">
		<div ng-repeat="task in tasks | orderBy:'done'">
			<div class="alert"
				ng-class="{ 'alert-success': task.done }"
				style="font-size:28px">
				{{task.summary}}
				<span class="pull-right" style="font-size: 12px;" >
					{{task.updateDate | date:'MM/dd/yy @ h:mma'}}
					<img ng-show="task.assignee" ng-src="http://srv-ind-scrat:8060/avatar/{{task.assignee.userName}}?s=32"/>
				</span>
				<BR>
			</div>
		</div>
	</div>
</div>