<BR>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="card card-body bg-light">
            <table class="table table-hover table-condensed">
                <thead class="thead-light">
                <tr>
                    <th><a href="#/jenkinsserver/new"><i class="far fa-plus-square"></i></a></th>
                    <th>Name</th>
                    <th>Slave labels to analyze</th>
                    <th>Views to analyze</th>
                    <th>URL</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="jenkinsserver in jenkinsservers | orderBy:'name'">
                    <td>
                        <a href="#/jenkinsserver/edit/{{jenkinsserver.id}}"><i class="far fa-edit"></i></a>
                    </td>
                    <td>{{jenkinsserver.name}}</td>
                    <td>{{jenkinsserver.labelsToAnalyze}}</td>
                    <td>{{jenkinsserver.viewsToAnalyze}}</td>
                    <td><a href="{{jenkinsserver.url}}" target="_blank">{{jenkinsserver.url}}</a></td>
                    <td><a href="" ng-click="jenkinsserver.analyzeServer()"><i class="icon-list-alt"></i>&nbsp;Analysis</a>&nbsp;
                        <img ng-show="jenkinsserver.isAnalyzing()" src="img/spinner.gif"/></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>