<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="well">
			<table class="table table-striped table-hover table-condensed">
			  <thead>
			  <tr>
			    <th><a href="#/jenkinsserver/new"><span class="glyphicon glyphicon-plus-sign"></span></a></th>
			    <th>Name</th>
			    <th>Slave labels to analyze</th>
			    <th>Views to analyze</th>
			    <th>URL</th>
			  </tr>
			  </thead>
			  <tbody>
			  <tr ng-repeat="jenkinsserver in jenkinsservers | orderBy:'name'">
			  	<td>
			      <a href="#/jenkinsserver/edit/{{jenkinsserver.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
			    </td>
			    <td>{{jenkinsserver.name}}</td>
			    <td>{{jenkinsserver.labelsToAnalyze}}</td>
			    <td>{{jenkinsserver.viewsToAnalyze}}</td>
			    <td><a href="{{jenkinsserver.url}}" target="_blank">{{jenkinsserver.url}}</a></td>
			    <td><a href="" ng-click="jenkinsserver.analyzeServer()"><i class="icon-list-alt"></i>&nbsp;Analysis</a>&nbsp;
			    <img ng-show="jenkinsserver.isAnalyzing()" src="img/spinner.gif"/></td>
			  </tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>