<div class="container">
	<div class="well">
		<form name="myForm" class="form-horizontal">
			<fieldset>
		        <legend>Edit Job {{job.name}}</legend>
				<div class="control-group">
				  <label class="control-label">Watch</label>
				  <div class="controls">
				  	<input type="checkbox" ng-model="job.watch">
				  </div>
				</div>
				
				<div class="form-actions">
					<a href="#/" class="btn">Cancel</a>
					<button ng-click="save()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary">Save</button>
					<button ng-click="destroy()" ng-show="job.id" class="btn btn-danger">Delete</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>