<div class="alert" 
	ng-class="{ 'alert-danger': job.status=='FAILED', 
				'alert-success': job.status=='STABLE', 
				'alert-info': job.status=='ABORTED' || job.status=='DISABLED' || job.status=='NEW' || job.status=='NOTBUILT'}">
	<strong nowrap>{{job.name}}</strong>
	<span class="pull-right">
		<strong><span ng-if="linkJobTask(job)" class="label smaller-font" style="vertical-align: 7px;"
			ng-class="{ 'label-info': !job.__task.done, 'label-success': job.__task.done}" ng-click="showTask(job.__task)">
			<span class="glyphicon glyphicon-wrench"></span>
		</span>&nbsp;{{job.lastBuild.failedTestCount}}</strong>
	</span>
	<div ng-include src="'partials/job/job.progressbar.html'"></div>
</div>