<div class="alert dashboard-alert" 
	ng-mouseenter="job.showActions=true" 
	ng-mouseleave="job.showActions=false" 
	ng-class="{ 'alert-danger': job.status=='FAILED', 
				'alert-success': job.status=='STABLE', 
				'alert-warning': job.status=='UNSTABLE',
				'alert-info': job.status=='ABORTED' || job.status=='DISABLED' || job.status=='NEW' || job.status=='NOTBUILT'}">
	<strong>{{job.name}}</strong>
	<span class="pull-right" style="font-size: 36px;">
		<strong style="position:relative;top:-10px">{{job.lastBuild.failedTestCount}}</strong> <img  style="vertical-align: top;" ng-src="{{imageJobStatus(job)}}"/>
	</span>
	<span ng-if="linkJobTask(job)" class="pull-right">
		<span class="label"
			ng-class="{ 'label-info': !job.__task.done, 'label-success': job.__task.done}" ng-click="showTask(job.__task)">
			<span class="glyphicon glyphicon-wrench"></span>
		</span>&nbsp;
	</span>
	<BR>
	<div class="smaller-font">
		<div ng-repeat="run in getRuns(job)" ng-if="job.lastBuild.failedTestCount < 6">
			<span ng-if="job.lastBuild.childBuilds.length >0"><strong>{{run.displayName}}</strong></span>
			<div ng-repeat="failure in run.failures |orderBy:'testMethodName'">
				<div ng-include src="'partials/job/failure.item.dashboard.html'"></div>
			</div>
		</div>
	</div>
	<div ng-if="job.status=='DISABLED'" class="smaller-font">
		<span>{{job.description}}</span>
	</div>
	<div ng-include src="'partials/job/job.progressbar.html'"></div>
	<div ng-include src="'partials/job/job.actions.html'" ng-show="job.showActions"></div>
	
</div>
