
<div class="modal-header">
	<h4>
		{{job.name}}<span class="pull-right" style="font-size: 40px;"> <strong>{{job.lastBuild.failedTestCount}}</strong> <img
			ng-src="{{imageJobStatus(job)}}" />
		</span> <span ng-show="job.__task" class="pull-right"> <span class="label"
			ng-class="{ 'label-info': !job.__task.done, 'label-success': job.__task.done}"> <span class="glyphicon glyphicon-wrench"></span>&nbsp;
		</span>&nbsp;
		</span>
	</h4>
</div>
<div class="modal-body">
	Job description: {{job.description}}<BR>
	<hr />
	<div ng-repeat="run in getRuns(job)">
		<span ng-show="job.lastBuild.childBuilds.length >0"><strong>{{run.displayName}}</strong></span>
		<div ng-repeat="failure in run.failures |orderBy:'testMethodName'" class="smaller-font">
			<div ng-include src="'partials/job/failure.item.dashboard.html'"></div>
		</div>
	</div>
	<BR>
	<div ng-include src="'partials/job/job.actions.html'"></div>
	<BR> <BR>
	<div ng-include src="'partials/job/job.progressbar.html'"></div>
	<BR> <BR>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="close()">Ok</button>
</div>
