<div ng-controller="JobDetailsController">
    <div modal="jobToShow" close="close()" style="width:80%; left:25%">
        <div class="modal-header">
            <h4>{{jobToShow.name}}<span class="pull-right" style="font-size: 40px;">
						<strong>{{jobToShow.lastBuild.failedTestCount}}</strong> <img ng-src="{{imageJobStatus(jobToShow)}}"/>
					</span></h4>
        </div>
        <div class="modal-body">
        			Job description: {{jobToShow.description}}<BR>
        			<hr/>
					<div ng-repeat="failure in jobToShow.lastBuild.failures">
						<span class="muted" ng-show="failure.summary">{{failure.summary}}</span>
						<span ng-show="failure.age">
							<li> <a ng-href="{{failure.url}}">{{failure.testMethodName}}</a> (Age:{{failure.age}})
							<blockquote> {{failure.errorDetails}}
							</blockquote></li>
						</span>
					</div>
					<BR>
					<ul class="inline" style="font-size: 12px;">
						<li><a href="{{jobToShow.url}}"><i class="icon-circle-arrow-right"></i>&nbsp;URL</a></li>
						<li><a href="{{jobToShow.url}}"><i class="icon-wrench"></i>&nbsp;Add task to fix this</a></li>
						<li><a  href="" ng-click="stopWatching(jobToShow)"><i class="icon-eye-close"></i>&nbsp;Stop watching</a></li>
					</ul>
				</div>
        <div class="modal-footer">
            <button class="btn" ng-click="close()">Ok</button>
        </div>
    </div>
</div>