<div class="container">
	<div class="well">
		<table class="table table-striped table-hover table-condensed">
		  <thead>
		  <tr>
		    <th></th>
		    <th>Displayname</th>
		    <th>Diskspace left</th>
		    <th>Offline</th>
		    <th>Offline cause</th>
		    <th>Watch</th>
		    <th>Sticky watch</th>
		    <th>URL</th>
		  </tr>
		  </thead>
		  <tbody>
		  <tr ng-repeat="computer in computers | orderBy:'displayName'">
		  	<td>
		      <a href="#/computer/edit/{{computer.id}}"><i class="icon-pencil"></i></a>
		    </td>
		    <td><img src="img/computer.png" ng-show="!computer.offline">
					<img src="img/computer-x.png" ng-show="computer.offline">&nbsp;{{computer.displayName}}</td>
			<td class="text-right">{{computer.diskSpaceLeft}} Gb</td>
		    <td><span ng-class="{ 'label label-important': computer.offline}">{{computer.offline}}</span></td>
		    <td>{{computer.offlineCause}}</td>
		    <td>{{computer.watch}}</td>
		    <td>{{computer.stickyWatch}}</td>
		    <td><a href="{{computer.url}}" target="_blank"><i class="icon-circle-arrow-right"></i>&nbsp;URL</a></td>
		    <td></td>
		  </tr>
		  </tbody>
		</table>
	</div>
</div>